<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link px-2 text-muted">Төп бит</a></li>
      <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link px-2 text-muted">Проект турында</a></li>
      <li class="nav-item"><a href="{{ url_for('tests_page') }}" class="nav-link px-2 text-muted">Тестлар</a></li>
    </ul>
    <p class="text-center text-muted">© 2025 TatarPRO</p>
  </footer>
</div>
